<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Blackjack!</h1>
        <form method="POST">
            <input type="hidden" name="deck_id" value="{{ deck_id }}">
            <input type="hidden" name="player_cards" value="{{ player_cards | join(',') }}">
            <input type="hidden" name="player_score" value="{{ player_score }}">
            <input type="hidden" name="dealer_score" value="{{ dealer_score }}">
            <div class="dealer-info">
                <!-- Mostrar a primeira carta do dealer e a parte de trás das outras -->
                <div class="cards">
                    {% if dealer_cards %}
                        <img src="{{ dealer_cards[0].image }}" alt="{{ dealer_cards[0].value }} de {{ dealer_cards[0].suit }}">
                        {% for card in dealer_cards[1:] %}
                            <img src="https://deckofcardsapi.com/static/img/back.png" alt="Carta virada">
                        {% endfor %}
                    {% endif %}
                </div>
                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}
            </div>
            <div class="player-info">
                <p>Sua pontuação: {{ player_score }}</p>
                <div class="cards">
                    {% for card in player_cards %}
                        <img src="{{ card.image }}" alt="{{ card.value }} de {{ card.suit }}">
                    {% endfor %}
                </div>
            </div>
            <label>O que você gostaria de fazer?</label>
            <br>
            <label class="cor4" for="option4">Pedir duas cartas</label>
            <input type="radio" id="option4" name="option" value="4">
            <br>
            <label class="cor1" for="option1">Pedir carta</label>
            <input type="radio" id="option1" name="option" value="1">
            <br>
            <label class="cor2" for="option2">Parar</label>
            <input type="radio" id="option2" name="option" value="2">
            <br>
            <!-- <label class="cor3" for="option3">Sair</label>
            <input type="radio" id="option3" name="option" value="3">
            <br> -->
            <button type="submit">Enviar</button>
        </form>
    </div>
    <footer>
        <p class="signature">Feito por Vinicius Mateus Sikorski</p>
    </footer>
</body>
</html>