<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Blackjack!</h1>
        <form method="POST">
            <input type="hidden" name="deck_id" value="{{ deck_id }}">
            <input type="hidden" name="player_cards" value="{{ player_cards | join(',') }}">
            <input type="hidden" name="player_score" value="{{ player_score }}">
            <input type="hidden" name="dealer_score" value="{{ dealer_score }}">
            <div class="dealer-info">
                <p>Pontuação do dealer: {{ dealer_score }}</p>
                <div class="cards">
                    {% for card in dealer_cards %}
                        <img src="{{ card.image }}" alt="{{ card.value }} de {{ card.suit }}">
                    {% endfor %}
                </div>
                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}
            </div>
            <div class="player-info">
                <p>Sua pontuação: {{ player_score }}</p>
                <div class="cards">
                    {% for card in player_cards %}
                        <img src="{{ card.image }}" alt="{{ card.value }} de {{ card.suit }}">
                    {% endfor %}
                </div>
            </div>
            <label>O que você gostaria de fazer?</label><br>
            <input type="radio" name="option" value="1"> Pedir carta<br>
            <!-- <input type="radio" name="option" value="2"> Pedir duas cartas<br> -->
            <input type="radio" name="option" value="3"> Parar<br>
            <input type="radio" name="option" value="4"> Sair<br>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <!-- <footer>
        <p class="signature">Feito por Vinicius Mateus Sikorski</p>
    </footer> -->
</body>
</html>
