body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E8B57;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: 2px;
    solid: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
    border-color: #45a049;
}

p.message {
    margin-top: 20px;
    text-align: center;
    color: red;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.cards img {
    margin: 0 5px;
    width: 80px;
    height: auto;
}

.player-info {
    color: #28a745;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.dealer-info {
    color: #dc3545;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

h1, h2 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2E8B57;
    padding: 10px 0;
    z-index: 999;
}

.signature {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.1);
}

.cor4{
 color: brown;
}

.cor3{
color: rgb(141, 0, 0);
}

.cor2{
  color: #28a745;
}

.cor1{
color: rgb(174, 177, 0);
}