/* Estilos para index.html */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #075e54;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: auto;
    margin-right: 10px; /* Espaçamento entre as cartas */
}

input[type="radio"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

p.message {
    margin-top: 20px;
    text-align: center;
    color: #f44336;
}

/* Estilos para result.html */
h1, h2 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
