<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title >Deck of Cards</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">Deck of Cards </h1>
    <button class="btn-cor" onclick="embaralharBaralho()">Embaralhar Baralho</button>
    <button class="btn-cor" onclick="desenharCartas()">Desenhar Cartas</button>
    <button class="btn-cor" onclick="embaralharPilha()">Embaralhar Pilha</button>
    <button class="btn-cor" onclick="listarCartasPilha()">Listar Cartas da Pilha</button>
    <button class="btn-cor" onclick="desenharCartasPilha()">Desenhar Cartas da Pilha</button>
    <button class="btn-cor" onclick="retornarCartas()">Retornar Cartas</button>
    <div id="mensagem" class="cor"></div>


    <script src="/static/script.js"></script>
</body>
<footer>
    <button disabled class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;VINICIUS SIKORSKI&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;&nbsp;</span>
    </button>
</footer>
</html>