<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Deck of Cards API</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Deck of Cards API</h1>
    <button onclick="embaralharBaralho()">Embaralhar Baralho</button>
    <button onclick="desenharCartas()">Desenhar Cartas</button>
    <button onclick="embaralharPilha()">Embaralhar Pilha</button>
    <button onclick="listarCartasPilha()">Listar Cartas da Pilha</button>
    <button onclick="desenharCartasPilha()">Desenhar Cartas da Pilha</button>
    <button onclick="retornarCartas()">Retornar Cartas</button>
    <div id="mensagem"></div>

    <script src="/static/script.js"></script>
</body>
</html>