<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">Blackjack</h1>
    <div id="game-container">
        <!-- Aqui serão exibidas as cartas do jogador e do dealer -->
    </div>
    <div id="buttons-container">
        <button id="iniciar-btn" onclick="iniciarJogo()">Iniciar Jogo</button>
        <button id="pedir-btn" onclick="pedirCarta()">Pedir Carta</button>
        <button id="parar-btn" onclick="pararJogo()">Parar</button>
    </div>

    <div id="mensagem"></div>

    <script src="/static/script.js"></script>
</body>
</html>